.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  width: 100%;
}

.header {
  position: sticky;
  padding: 20px 0;
  border-bottom: 1px solid $color-border;
}

.wrapper {
  display: flex;
}

.main {
  flex-grow: 1;
}

.nav {
  width: 200px;
  border-left: 1px solid $color-border;
}

.footer {
  padding: 20px 0;
  border-top: 1px solid $color-border;
}
