* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  font-family: Lora, serif;
  color: #fff;
  background-color: $color-main-bg;
}

#root {
  display: flex;
  width: 100%;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
